{% load static %}
{% load anunturi_extras %}
<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Contact | Adopt a Pet</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen" />
		<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
	</head>
	<body class="content_left scheme_red">
		<section id="main_wrap">
			<header class="wrapper" id="header">
				<div class="container">
					<div id="main_menu" class="clearfix">
						<div class="clearfix">
							<a href="{% url 'home' %}" title="Adopt a Pet" class="the_logo_link">
								<img src="{% static 'images/rescuelogo.png' %}" alt="Adopt a Pet" id="logo" height="40" width="101.5" />
							</a>
							<nav id="menu_wrap">
								<div class="menu-main-menu-container">
									<ul id="menu-main-menu" class="menu">
										<li><a href="{% url 'home' %}">Acasă</a></li>
										<li><a href="{% url 'pets_all' %}">Animale</a></li>
										<li><a href="{% url 'contact' %}" class="current_page">Contact</a></li>
										<li><a href="{% url 'termeni' %}">Termeni și condiții</a></li>
										{% if user.is_authenticated %}
										{% if user|in_group:"Asociație" %}<li><a href="{% url 'cont_ong' %}">Cont</a></li>{% else %}<li><a href="{% url 'cont_profil' %}">Cont</a></li>{% endif %}
										<li><a href="{% url 'logout' %}">Ieșire</a></li>
										{% else %}
										<li><a href="{% url 'signup' %}">Înregistrare</a></li>
										<li><a href="{% url 'login' %}">Logare</a></li>
										{% endif %}
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<section class="wrapper" id="main_content">
				<div class="container clearfix">
					<div class="posts-wrap">
						<section class="page">
							<h2 class="entry-title">Contact</h2>
							<div class="entry-content clearfix">
								<p><strong>Cum adopți</strong></p>
								<p>Pentru a adopta un animal, contactați direct adăpostul sau asociația care a publicat anunțul. Pe fiecare pagină de animal veți găsi datele de contact ale membrului care îngrijește animalul.</p>
								<p><strong>Contact platformă</strong></p>
								<p>Pentru întrebări despre site, parteneriate sau suport tehnic, puteți ne contacta la:</p>
								<ul>
									<li>E-mail: <em>(completați adresa de e-mail)</em></li>
									<li>Telefon: <em>(completați numărul)</em></li>
								</ul>
								<p>Adresa: <em>(completați adresa dacă doriți)</em></p>
							</div>
						</section>
					</div>
				</div>
			</section>
			<footer id="footer" class="wrapper">
				<div class="container">
					<div id="post_footer">
						<div id="site_info" class="clearfix">
							<div class="left footer_menu_wrap clearfix">
								<ul id="menu-footer-menu" class="menu">
									<li><a href="{% url 'home' %}">Acasă</a></li>
									<li><a href="{% url 'pets_all' %}">Toate animalele</a></li>
									<li><a href="{% url 'contact' %}">Contact</a></li>
									<li><a href="{% url 'termeni' %}">Termeni și condiții</a></li>
								</ul>
							</div>
							<div class="right">&copy; Adopt a Pet</div>
						</div>
					</div>
				</div>
			</footer>
		</section>
		<script type="text/javascript" src="{% static 'includes/js/jquery-1.11.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'includes/js/jquery.mobilemenu.js' %}"></script>
	</body>
</html>
