<div class="analysis-subnav">
	<a href="{% url 'admin_analysis_home' %}">Înapoi la central</a>
	<a href="{% url 'admin_analysis_dogs' %}">Câini</a>
	<a href="{% url 'admin_analysis_cats' %}">Pisici</a>
	<a href="{% url 'admin_analysis_requests' %}">Cereri</a>
	<a href="{% url 'admin_analysis_users' %}">Utilizatori</a>
	<a href="{% url 'admin_analysis_alerts' %}">Alerte</a>
	<a href="{% url 'admin_analysis_partners' %}">Parteneri</a>
	<a href="{% url 'admin_analysis_performance' %}">Performanță</a>
</div>
