{% comment %}
Listă județe România pentru datalist. Folosește: {% include "anunturi/includes/ro_county_list.html" with datalist_id="county-list-org" %}
{% endcomment %}
<datalist id="{{ datalist_id|default:'county-list' }}">
	<option value="Alba">
	<option value="Arad">
	<option value="Argeș">
	<option value="Bacău">
	<option value="Bihor">
	<option value="Bistrița-Năsăud">
	<option value="Botoșani">
	<option value="Brăila">
	<option value="Brașov">
	<option value="București">
	<option value="Buzău">
	<option value="Călărași">
	<option value="Caraș-Severin">
	<option value="Cluj">
	<option value="Constanța">
	<option value="Covasna">
	<option value="Dâmbovița">
	<option value="Dolj">
	<option value="Galați">
	<option value="Giurgiu">
	<option value="Gorj">
	<option value="Harghita">
	<option value="Hunedoara">
	<option value="Ialomița">
	<option value="Iași">
	<option value="Ilfov">
	<option value="Maramureș">
	<option value="Mehedinți">
	<option value="Mureș">
	<option value="Neamț">
	<option value="Olt">
	<option value="Prahova">
	<option value="Sălaj">
	<option value="Satu Mare">
	<option value="Sibiu">
	<option value="Suceava">
	<option value="Teleorman">
	<option value="Timiș">
	<option value="Tulcea">
	<option value="Vâlcea">
	<option value="Vaslui">
	<option value="Vrancea">
</datalist>
