{% load static %}
<a href="{% url 'custi' %}" class="t2-extra-circle">
	<img src="{% static 'images/transport/servicii/servicii_9.jpeg' %}" alt="" class="t2-extra-circle-img" />
	<svg class="t2-extra-circle-svg" viewBox="0 0 100 100" aria-hidden="true">
		<defs>
			<path id="t2-extra-circle-path" d="M50 10a40 40 0 1 1 0 80a40 40 0 1 1 0-80" />
		</defs>
		<text class="t2-extra-circle-text">
			<textPath href="#t2-extra-circle-path" startOffset="50%" text-anchor="middle">
				* Ajută o cauză * We Come To You *
			</textPath>
		</text>
	</svg>
</a>
